<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>


</head>

<body>
<div layout:fragment="content">
    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <!--  Table header and 'Create' Button  -->
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="w-75 p-3" data-th-text="#{productList.product}">Выработка</h3>
                    </div>
                    <div class="col-md-2 float-right">
                        <a class="btn btn-success m-t-10" data-th-text="#{productList.label.create}"
                           th:href="${'/product/form'}">create</a>
                    </div>
                </div>
                <form class="row" th:action="@{/product/list}" method="get">
                    <div id="custom-search" class="top-search-bar col">
                        <input width="125px" class="form-control" type="text" name="search"
                               th:placeholder="#{productList.label.search}">
                    </div>
                    <div class="col float-right">
                        <button type="submit" class="btn btn-info m-t-10"
                                data-th-text="#{button.label.search}"></button>
                    </div>
                </form>
            </div>

            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                        <tr class="border-0">
                            <th class="border-0" data-th-text="#{productList.label.model}"></th>
                            <th class="border-0" data-th-text="#{productList.label.typeModel}"></th>
                            <th class="border-0" data-th-text="#{productList.label.packaging}"></th>
                            <th class="border-0" data-th-text="#{productList.label.countProducts}"></th>
                            <th class="border-0" data-th-text="#{productList.label.inBags}"></th>
                            <th class="border-0" data-th-text="#{productList.label.countBrak}"></th>
                            <th class="border-0" data-th-text="#{productList.label.countStanok}"></th>
                            <th class="border-0" data-th-text="#{productList.label.countSaya}"></th>
                            <th class="border-0" data-th-text="#{productList.label.createDate}"></th>
                        </tr>
                        </thead>
                        <tbody id="productTableBody">

                        <tr th:each="product : ${productsList}">
                            <td th:text="${product.productName.name}"></td>
                            <td th:text="${product.productType.type}"></td>
                            <td th:text="${product.packaging}"></td>
                            <td th:text="${product.countProducts}"></td>
                            <td th:text="${product.inBags}"></td>
                            <td th:text="${product.countBrak}"></td>
                            <td th:text="${product.countStanok}"></td>
                            <td th:text="${product.countSaya}"></td>
                            <td th:text="${product.createDateProduct}"></td>
                            <td><a th:href="${product.id}"><i class="fa fa-arrow-right"></i></a></td>
                        </tr>
                        <!--    end of looping     -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li th:if="${productsList.hasPrevious()}" class="page-item">
                    <a class="page-link" th:href="@{/product/list(page=${productsList.number-1})}" tabindex="-1"
                       data-th-text="#{pagination.label.previous}"></a>
                </li>
                <!--  <th:block th:if="${productsList.totalPages > 10 }">
                      <th:block th:each="i: ${#numbers.sequence(0, productsList.totalPages - 1)}">

                          <li class="page-item active" th:if="${productsList.number == i}">
                              <span class="page-link">[[${i}+1]]</span>
                          </li>

                          <li th:unless="${productsList.number == i}">
                              <a class="page-link" th:href="@{/product/list(page=${i})}">[[${i}+1]]</a>
                          </li>

                      </th:block>
                      <li class="page-item" th:if="${productsList.hasNext()}">
                          <a class="page-link" th:href="@{/product/list(page=${productsList.number+1})}"
                             data-th-text="#{pagination.label.next}"></a>
                      </li>
                  </th:block>-->

                <th:block th:if="${productsList.totalPages <= 10 }">
                    prev next
                </th:block>

                <th:block th:if="${productsList.totalPages > 10 }">
                    <th:block th:if="${productsList.pageable.pageNumber <= 7 || productsList.pageable.pageNumber > productsList.totalPages - 4}">

                        <th:block th:each="i: ${#numbers.sequence(1, 7)}" th:class="${productsList.pageable.pageNumber <= 7 || productsList.pageable.pageNumber > productsList.totalPages - 4 }">

                            <li class="page-item active" th:if="${productsList.number == i}">
                                <span class="page-link">[[${i}]]</span>
                            </li>

                            <li th:unless="${productsList.number == i}">
                                <a class="page-link" th:href="@{/product/list(page=${i})}">[[${i}]]</a>
                            </li>

                        </th:block>

                        <a class="page-link" th:href="@{/product/list(page=${i})}">...</a>
                        <th:block th:each="i: ${#numbers.sequence(productsList.totalPages -4 , productsList.totalPages)}" th:class="${productsList.pageable.pageNumber <= 7 || productsList.pageable.pageNumber > productsList.totalPages - 4 }">
                            <li class="page-item active" th:if="${productsList.number == i}">
                                <span class="page-link">[[${i}]]</span>
                            </li>

                            <li th:unless="${productsList.number == i}">
                                <a class="page-link" th:href="@{/product/list(page=${i})}">[[${i}]]</a>
                            </li>
                        </th:block>

                    </th:block>
                </th:block>
                <li class="page-item" th:if="${productsList.hasNext()}">
                    <a class="page-link" th:href="@{/product/list(page=${productsList.number+1})}"
                       data-th-text="#{pagination.label.next}"></a>
                </li>

            </ul>
        </nav>
    </div>
</div>
</body>

</html>


